<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CurrentModelEntities" connectionString="metadata=res://*/CurrentModel.CurrentModel.csdl|res://*/CurrentModel.CurrentModel.ssdl|res://*/CurrentModel.CurrentModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;data source=192.168.1.1;initial catalog=Z:\Mash\new_form\base\FORM2015-1.GDB;user id=sysdba;password=masterkey;datasource=192.168.1.1;database=G:\WORK\Mash\new_form\base\FORM2015-1.GDB&quot;" providerName="System.Data.EntityClient" />
    <add name="MergedModelEntities" connectionString="metadata=res://*/MergedModel.MergedModel.csdl|res://*/MergedModel.MergedModel.ssdl|res://*/MergedModel.MergedModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=D:\Documents\GitHub\dbViewer\database\recruits.sdf&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CurrentModelEntities" connectionString="metadata=res://*/CurrentModel.CurrentModel.csdl|res://*/CurrentModel.CurrentModel.ssdl|res://*/CurrentModel.CurrentModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;data source=192.168.1.1;initial catalog=Z:\Mash\new_form\base\FORM2015-1.GDB;user id=sysdba;password=masterkey;datasource=192.168.1.1;database=G:\WORK\Mash\new_form\base\FORM2015-1.GDB&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.3.5" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.3.5" type="System.Data.Entity.SqlServerCompact.Legacy.SqlCeProviderServices, EntityFramework.SqlServerCompact.Legacy" />
    </providers>
  </entityFramework>-->
</configuration>